<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<p>Calculator</p>
<a href="calculator?a=10&b=2&action=addition">Addition</a> or
<a href="calculator?a=10&b=2&action=subtraction">Subtraction</a> or
<a href="calculator?a=10&b=2&action=multiplication">Multiplication</a> or
<a href="calculator?a=10&b=2&action=division">Division</a>
<p th:text="${result}"></p>
<a href="hello.html">Hello page</a> or
<a href="goodbye.html">Goodbye page</a>
</body>
</html>